body { margin:0 10px; } 

body{
  font-family: 'Open Sans', sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.container {
    max-width: 500px;
    margin: auto;
    margin-top: 5px;
    margin-bottom : 5px;
    border-style: solid;
    border-radius: 7px;
    padding: 0 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#grades-container{
  display: flex;
  flex-direction: column;
}

.grade{
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.label{
  min-width: 70%;
}

.input{
  min-width: 30%;
  min-height: 25px;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 3px;
}

.input:focus{
  outline: 0;
}

.footer{
  display: flex;
  justify-content: space-between;
}

#nota-final{
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

a{
  color: #3D79F2;
  font-weight: bold;
}